{
	"appId":"ONEXE01CE2A151632",
	"appKey":"ONEXE01CE2A151632_ANDROID",
	"base64Code":"",
	"packageName":"com.example.demo",
	"rootPath":"mpaas/android/ONEXE01CE2A151632-default",
	"workspaceId":"default",
	"syncport":"443",
	"syncserver":"mpaas-mss.aliyuncs.com",
	"logGW":"https://mpaas-mas-loggw.aliyuncs.com",
	"pushPort":"443",
	"pushGW":"mpaas-mps.aliyuncs.com",
	"mpaasapi":"https://cn-hangzhou-component-gw.cloud.alipay.com/mgw.htm",
	"rpcGW":"https://mpaas-mgs.aliyuncs.com/mgw.htm",
	"mrtcserver":"wss://cn-hangzhou-mrtc.cloud.alipay.com/ws",
	"mpaasConfigVersion":"V_1.0",
	"mpaasConfigEnv":"ONEX_CLOUD",
	"mpaasConfigPluginExpired":"",
	"mpaasConfigLicense":"OEoITmgzTcwyudVqj8zz21EIUC90yansUVYTHqmCYRJGGuPGu7CP6Jof4hDZbeglBsIuttBfNXCnWUGYY98oUCyGZSRuh4DDiRZRmoUJlM8I7GgDdwmrqxFvtdPpmA7p4hNUZiMC/KxOlJjVmKU9xJhjxcgPYieTBOqTca9XML0WELzHIfSnzqg41sNxRuk0w4BHB0dhOX+WdsTMcrETH+eGeqy5X1HZtfWpVbUhRkV2outOzlc5lbVBI0RPaAS6yKVrqyqrMto8qB1rmlKRwU4GN7mBt2eAbNfdB1TMnhukmo1ws5KuGkhy4V/hrIqRg/bthWV+RqLnKQ9anpVmdA=="
}